#mainTopic{
    color: blue;
}

*{
    text-align: center;
}

.font{
    font-family: Georgia ;
}

.color{
    color: white;
    background-color: cornflowerblue;
}

div>button{
    color: azure;
    background-color: purple;
}

button:hover{
    color: yellow;
    background-color: blue;
}

#odd1,#odd2{
    color: yellow;
}

h1::first-letter{
    color: red;
}
